<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<div class="header">
    <h1 class="dashboard">Dashboard</h1>
    <a href="/" class="button back-button">Back</a>
</div>

<div id="search-container">
    <input type="text" id="searchBox" placeholder="Search for a customer..."/>
    <button id="searchButton" onclick="searchCustomer()">
        <i class="fa fa-search"></i>
    </button>
    <button id="resetButton" onclick="resetTable()">
        <i class="fa fa-undo"></i>
    </button>
</div>

<table id="treeTable">
    <thead>
    <tr>
        <th>Customer Name</th>
        <th>
            <div class="header-container">
                <span>Email Count</span>
                <div class="header-arrows">
                    <button id="ascending" onclick="sortTable('ascending')">&#9650;</button>
                    <button id="descending" onclick="sortTable('descending')">&#9660;</button>
                </div>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    <% trees.forEach(tree => { %>
        <tr>
            <td><%= tree.customerName %></td>
            <td><%= tree.emailCount %></td>
        </tr>
    <% }) %>
    </tbody>
</table>

<script src="/js/dashboard.js"></script>
</body>
</html>