:root {
    --background-color: #102d3f;
    --foreground-color: #95cb75;
    --dark-shadow: rgba(0, 0, 0, 0.4);
    --light-shadow: rgba(255, 255, 255, 0.6);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    background-image: url("/img/background.svg");
    font-family: Courier, serif;
}

.header {
    position: relative;
    text-align: center;
}

.welcome, .dashboard {
    font-family: "Comic Sans MS", serif;
    color: white;
    margin: 40px 0 40px;
    text-shadow: 1px 1px 2px var(--foreground-color);
}

.button {
    position: absolute;
    top: -8px;
    color: var(--background-color);
    background-color: var(--foreground-color);
    border: 2px solid var(--background-color);
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.button:hover {
    color: white;
    background-color: var(--background-color);
    border: 2px solid var(--background-color);
}

.dashboard-button, .back-button {
    left: 38px;
}

.logout-button {
    right: 38px;
}

.display-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.trees-container {
    margin-top: -50px;
    align-self: center;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    width: 70%;
    padding: 10px 5px 15px;
    border-radius: 20px;
    box-shadow: 6px 6px 10px var(--dark-shadow),
    -3px -3px 10px var(--light-shadow);
}

.tree {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.tree:hover::after {
    content: attr(data-customer) "\A Count: " attr(data-email-count);
    white-space: pre;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background-color: white;
    padding: 4px;
    border-radius: 4px;
}

#prev-button,
#next-button {
    background-color: var(--background-color);
    border: none;
    outline: none;
    cursor: pointer;
}

#prev-button i,
#next-button i {
    font-size: 28px;
    color: white;
}

#prev-button:disabled i,
#next-button:disabled i {
    color: gray;
}

#prev-button {
    margin-right: 20px;
}

#next-button {
    margin-left: 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-collapse: collapse;
    font-size: 16px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 6px 6px 10px var(--dark-shadow),
    -3px -3px 10px var(--light-shadow);
    margin-bottom: 40px;
}

th, td {
    border: 1px solid var(--background-color);
    padding: 8px;
    text-align: center;
}

table thead th {
    color: white;
    background-color: var(--background-color);
    font-weight: bold;
}

.odd-row {
    background-color: #f2f2f2;
}

.even-row {
    background-color: #DFF0D8;
}

table tbody tr:hover {
    color: white;
    background-color: var(--background-color);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-arrows {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#ascending, #descending {
    border: none;
    background: none;
    font-size: 12px;
    cursor: pointer;
    color: white;
    display: block; /* to stack buttons vertically */
    transition: color 0.3s ease;
}

#ascending.selected, #descending.selected {
    color: var(--foreground-color);
}

button,
h1 {
    font-family: inherit;
}